/node_modules/
public/config.js

node_modules/
node_module
**/node_module
**node_module
**/.DS_Store
config.js
.DS_Store
/.DS_Store/
/dist/
/sourcemaps/
*.pem
.sass-cache/
/.sass-cache/
.idea/
/.idea/
package-lock.json
yarn.lock
**/main.js.map
**/style.css.map