<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
    <link rel="stylesheet" type="text/css" href="https://evmuxstatic.s3-eu-west-1.amazonaws.com/appCss/evmuxUiStyles.css">
    <link rel="stylesheet" type="text/css" href="https://evmuxstatic.s3-eu-west-1.amazonaws.com/appCss/reset.css">
    <style>
      html * {
        user-select: auto;
      }
      html {
        background-color: #DCDCE5;
      }
      .grayone {
        background: transparent !important;
      }
      iframe { resize:both }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
